/* The Modal (background) */
.projModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 5vh;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.projModal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Modal Content */

.projModal-content .row {
  margin: 0.5vh 5vh;
  padding: 0 1vh;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.projModal-header {
  padding: 2px 16px;
  /* font-size: 3vh; */
  background-color: #0d47a1;
  color: white;
}

.projModal-body {
  padding: 2px 16px;
}

.projModal-footer {
  padding: 2px 16px;
  background-color: #009688;
  color: white;
}

.DMProw {
  width: 50%;
  margin: 0 auto;
  /* background-color: rgb(192, 137, 137); */
  /* display: inline-block; */
  /* display: -webkit-flex;
    display: flex; */
  /* -webkit-flex-wrap: wrap;
    flex-wrap: wrap; */
  /* -webkit-align-content: center;
    align-content: center; */
}

.centered_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}

#only_left_par {
  text-align: left;
}

.proj_title_row {
  width: 80%;
  margin: 0 auto;
  /* background-color: rgb(192, 137, 137); */
  /* display: inline-block; */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
}

.DMPstatus {
  border-radius: 15px;
  font-size: 3vh;
  padding: 0.25em;
}

.DMPstatus_good {
  display: none;
  /* display: inline-block; */
  background-color: #008000;
  color: white;
}

.DMPstatus_bad {
  display: none;
  /* display: inline-block; */
  background-color: #8e0606;
  color: black;
}

.DMPstatus_neutral {
  display: none;
  /* display: inline-block; */
  background-color: #888;
  color: black;
}

.projModal_history {
  padding: 20vh;
}
