# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/FlaskMEGATutorial/Env/
/DiscoverFlask/venv/
/TrialWebApp/env/
/sbMACRO/venv/
*.xlsx
*.xlsm
*.xls
*.DS_Store
*node_mod*/
*.vscode
*.code-workspace

*.DS_Store

# .env environmental variables file
# .env

# virtual environment folders and files
env
env/*
env2
env/pip*
env2/*
test_files
venv/
venv/*

# Database
*.Database
*.db
*.sqlite

# Old code
old_code/
old_code/*