# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/FlaskMEGATutorial/Env/
/DiscoverFlask/venv/
/TrialWebApp/env/
/sbMACRO/venv/
*.xlsx
*.xlsm
*.xls
*.DS_Store
*node_mod*/
*.vscode
env
env/*
env2
env/pip*
env2/*
test_files