<html>
<head>
    <title>D3 Trials</title>
    <script src="https://d3js.org/d3.v4.js"></script>   
    <!-- This is from https://www.youtube.com/watch?v=TR39nfAW1dw&index=3&list=PL6il2r9i3BqH9PmbOf5wA5E1wOG3FT22p -->
</head>
<body>
    <script>

        var dataArray = [20, 35, 40, 50]

        var canvas = d3.select("body")
                        .append("svg")
                        .attr("width", 500)
                        .attr("height", 500)
                        .attr("fill", "grey");

        var bars = canvas.selectAll("rect") // this selects all rectangles on the canvas. There aren't any, so it returns an empty array.
                    .data(dataArray) //.data tells d3 where our data is and binds it to the selection
                    //we have bound our data to an empty selection, so...
                    .enter() //returns placeholders for each element that don't have corresponding elements available to them
                        //now for each of these placeholders, we will append a rectangle
                        .append("rect")
                        .attr("width", function (d) {return d * 10;})//d stands for each element in .data. We multiply it by 10 to make it look nicer.
                        .attr("height", 50)
                        .attr("y", function (d, i) {return i * 100}); //i is the index for each item in .data
                            //gap will be 50 px because height of element is 50, and 100 - 50 = 50

        
        // var circle = canvas.append("circle")
        //                     .attr("cx", 250)
        //                     .attr("cy", 250)
        //                     .attr("r", 50)
        //                     .attr("fill", "red");

        // var rect = canvas.append("rect")
        //             .attr("width", 100)
        //             .attr("height", 50);

        // var line = canvas.append("line")
        //             .attr("x1", 0)
        //             .attr("y1", 100)
        //             .attr("x2", 400)
        //             .attr("y2", 400)
        //             .attr("stroke", "green")
        //             .attr("stroke-width", 10);

    
    </script>
</body>
</html>