<html>
<head>
    <title>D3 Trials</title>
    <script src="static/jquery.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>  
    <!-- <script src="5006c1e5e4b0abf7ce733f3b.js"></script> -->
    <!-- This is from https://www.youtube.com/watch?v=TR39nfAW1dw&index=3&list=PL6il2r9i3BqH9PmbOf5wA5E1wOG3FT22p -->
    <link rel="stylesheet" href="../static/custom.css">
</head>
<body>
    <!-- <script>

        var dataArray = [20, 35, 40, 50]

        var width = 500;
        var height = 500;

        // var identityScale = d3.scaleLinear();

        var widthScale = d3.scaleLinear();
        widthScale.domain([0, 60]) //take the largest amount from your data.
        .range([0, width]); //this is what you want your data converted to be.

        var canvas = d3.select("body")
                        .append("svg")
                        .attr("width", width)
                        .attr("height", height)
                        .attr("fill", "grey");

        var bars = canvas.selectAll("rect") // this selects all rectangles on the canvas. There aren't any, so it returns an empty array.
                    .data(dataArray) //.data tells d3 where our data is and binds it to the selection
                    //we have bound our data to an empty selection, so...
                    .enter() //returns placeholders for each element that don't have corresponding elements available to them
                        //now for each of these placeholders, we will append a rectangle
                        .append("rect")
                        .attr("width", function (d) { return widthScale(d); }) //this returns the scaled width for each data point
                        // .attr("width", function (d) {return d * 10;})//d stands for each element in .data. We multiply it by 10 to make it look nicer.
                        .attr("height", 50)
                        .attr("fill", "red")
                        .attr("y", function (d, i) {return i * 100}); //i is the index for each item in .data
                            //gap will be 50 px because height of element is 50, and 100 - 50 = 50

        
        // var circle = canvas.append("circle")
        //                     .attr("cx", 250)
        //                     .attr("cy", 250)
        //                     .attr("r", 50)
        //                     .attr("fill", "red");

        // var rect = canvas.append("rect")
        //             .attr("width", 100)
        //             .attr("height", 50);

        // var line = canvas.append("line")
        //             .attr("x1", 0)
        //             .attr("y1", 100)
        //             .attr("x2", 400)
        //             .attr("y2", 400)
        //             .attr("stroke", "green")
        //             .attr("stroke-width", 10);

    
    </script> -->
    
    <div class="chart">
    
    </div>
    <svg class="BarGraph">

    </svg>

    <script>

        var svg = d3.select('svg');
        svg.size();
        // 1 -- one <svg> element exists

        var rects = svg.selectAll('rect')
                    .data(sales);
        var days = [[0, 0, 0, 0], [39255, 23505, 200411, 0]];
        var sales = days[0];    
        console.log(days);

        function toggle() {
        sales = (sales == days[0]) ? days[1] : days[0];
        update();
        }

        function update() {
        var rects = svg.selectAll('rect')
            .data(sales, function(d, i) { return d.product });

        // When we enter, we add the DOM element
        // and set up the things that won't change
        var enterRects = rects.enter()
            .append('rect')
            .attr('x', x(0))
            .attr('y', function(d, i) {
                return y(d.product);
            })
            .attr('height', y.bandwidth())

        // "rects" represents the update selection, we need to
        // manually merge it with the enter selection to update
        // all rects at the same time
        rects.merge(enterRects)
            .attr('width', function(d, i) {
            return x(d.count);
            });
        };
    </script>
    <!-- <script>
    //from https://scrimba.com/casts/cast-1953

    var data = [30, 86, 168, 281, 303, 365];

    d3.select(".chart")
        .selectAll("div")
        .data(data)
            .enter()
            .append("div")
            .style("width", function(d) { return d + "px"; })
            .text(function(d) { return d; });
    </script> -->
    
</body>
</html>