{% extends "base.html" %}
{% block content %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<link rel="stylesheet" href="../static/custom.css">
<link rel="stylesheet" href="../static/modal.css">
<script src="../static/d3.v4.min.js"></script>
<script src="../static/node_modules/file-saverjs/FileSaver.js"></script>
<script src="../node_modules/tableexport/src/stable/js/tableexport.js"></script>
<script src="../static/DataVisualization/projectBarGraph.js"></script>
<script src="../static/DataVisualization/FY_BarGraph.js"></script>
<script src="../static/DataVisualization/projectTable.js"></script>
<script src="../static/DataVisualization/d3-tip.js"></script>
<script src="../static/reportModal.js"></script>






<script>
  var reportDict = {{ full_report_json | safe }};
  console.log("reportDict:")
  console.log(reportDict);
  buildProjectTable(reportDict);
</script>
<script type="text/javascript">
//script for downloading table as excel.
  $(document).ready(function () {
    $("#btnExport").click(function (e) {
      e.preventDefault();

      //getting data from our table
      var data_type = 'data:application/vnd.ms-excel';
      var table_div = document.getElementById('table_wrapper');
      var table_html = table_div.outerHTML.replace(/ /g, '%20');

      var table = TableExport(document.getElementById("export-buttons-table"));
      table.click();
    });
  });
  $(document).ready(function () {
    $("#btnExport2").click(function (e) {
      e.preventDefault();

      //getting data from our table
      var data_type = 'data:application/vnd.ms-excel';
      var table_div = document.getElementById('table_wrapper');
      var table_html = table_div.outerHTML.replace(/ /g, '%20');

      var a = document.createElement('a');
      a.href = data_type + ', ' + table_html;
      a.download = 'sbMacro_Report' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
      a.click();
    });
  });

</script>

<div>
  <h1>sbMACRO Query Results</h1>
  <br>
  <p>Below is a table showing your query results from <a href="http://www.sciencebase.gov" >ScienceBase.gov</a></p>
  
</div>
<div id="container">
  <div id="wrapper">
  </div>
  <div id="fyGraphWrapper"></div>
</div>
<div id="container">
  <button class="btn wave-effect waves-teal disabled" id="btnExport">Export to Excel (.xlsx)</button>
  <button class="btn wave-effect waves-teal" id="btnExport2">Export to Excel (.xls)</button>
  <div id="table_wrapper">
    <table class="bordered highlight striped centered responsive-table" id="reportTable">
      <thead>
        <th>Number</th>
        <th>Climate Science Center</th>
        <th>Fiscal Year</th>
        <!-- <th>ID</th> -->
        <th>Object Type</th>
        <th>Name</th>
        <th>More Info</th>
        <th>Data in Project (GB)</th>
        <th>Number of Files</th>
        <th>Total Data in Fiscal Year (GB)</th>
        <th>sbMACRO Data Retrieval Date</th>
        <!-- <th>Running Data Total (GB)</th> -->
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

<!-- The Modal -->
<div id="BaseModal" class="projModal">

  <!-- Modal content -->
  <div class="projModal-content">
    <div class="projModal-header">
      <span class="close">&times;</span>
      <h3>Project Information</h3>
    </div>
    <div class="DMProw">
      <div class="centered_container">
        <span style="font-size: 3vh">DMP Status: </span>
        <div class="DMPstatus DMPstatus_good">Approved</div>
        <div class="DMPstatus DMPstatus_bad">Incomplete</div>
        <div class="DMPstatus DMPstatus_neutral">Unknown / N/A</div>
      </div>
    </div>

    <div class="row">

        <div class="centered_container">
          <span style="font-size: 2vh;">
            <strong>Title: </strong><br>
            <span class="title"></span>
          </span>
        </div>

    </div>
    <div class="row">

        <div class="centered_container">
          <span style="font-size: 2vh;">
            <strong>Principal Investigator: </strong><br>
            <span class="PI"></span>
          </span>
        </div>

    </div>
    <div class="row">

        <div class="centered_container">
          <span style="font-size: 2vh;">
            <strong>Summary: </strong><br>
            <span class="summary" id="only_left_par"></span>
          </span>
        </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l6 projModal_history">
        <h5>Data Steward History</h5>
        <p class="history"></p>
      </div>
      <div class="col s12 m6 l6">
        <h5>Uploaded Data Product Breakdown</h5><br>
        <img src="../static/placeholderPiee.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l6 projModal_potential_products">
        <h5>Potential Products</h5>
        <p class="potential_products"></p>
      </div>
      <div class="col s12 m6 l6 projModal_products_recieved">
        <h5>Products Recieved</h5>
        <p class="products_recieved"></p>
      </div>
    </div>
    <div class="projModal-footer">
      <h3>sbMACRO</h3>
    </div>
  </div>
</div>



<script>  
  var reportDict = {{ full_report_json | safe }};
  projectBarGraph(reportDict); //from ../static/DataVisualization/projectBarGraph.js
  $("<br><br>").insertAfter("#wrapper");
  FY_BarGraph(reportDict); //from ../static/DataVisualization/FY_BarGraph.js
  function catchResize() {
    console.log("Resized1!");
    var s = d3.selectAll('svg');
    s.remove();
    d3.select("#projectGraph_svg").remove();
    d3.select("#projectGraph_svg").remove(); //once for each CSC
    d3.select("#FYGraph_svg").remove();
    projectBarGraph(reportDict);
    FY_BarGraph(reportDict);

  }
  // d3.select(window).on('resize', go);
  window.addEventListener('resize', catchResize);
</script>



<!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->


<!-- <script>
  let currentPage = document.getElementById('Nav-FiscalYear');
  currentPage.classList.add("currentPage");
</script> -->
{% endblock %}
