div#content {
    display: none;
    }
 
div#loading {
    border-color: black;
    display: block;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 20%;
    height: auto;
    cursor: wait;
    }
