/* html {
  font-size: 12pt;
} */

div#content {
    display: none;
    }
#loading {
    border-color: black;
    display: block;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    cursor: wait;
    padding: 30px;
    }
#download {
  margin: auto;
}

table.highlight tbody tr:hover {
  background-color: #009688 !important;
  
}
table.highlight tbody tr:hover a {
  color: #ffffff !important;
}

th {
  text-align: center;
}

label {
  font-size: 30px;
}

.collection-item.currentPage {
  background-color: #ffab00 !important;
  color: white;
}

/*from the d3 tutorial at https://scrimba.com/casts/cast-1953*/
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.bar {
  fill: #2e7091;
}
.bar:hover {
  fill: #3788b0;
}

#NWCSC {
  fill: #003995;
}
#NWCSC:hover {
  fill: #353536;
}

#SWCSC {
  fill: #d5a700;
}
#SWCSC:hover {
  fill: #353536;
}

/*For the project graph, color pallet choices*/
.bar.NWCSC {
  fill: #2f5390;
}

.bar.NWCSC:hover {
  fill: #353536; 
}
.NWCSC#FY2011 {
  fill: #001f54;
}
.bar.NWCSC#FY2011:hover {
  fill: #353536; 
}
.NWCSC#FY2012 {
  fill: #003995;
}
.bar.NWCSC#FY2012:hover {
  fill: #353536; 
}
.NWCSC#FY2013 {
  fill: #0042ad;
}
.bar.NWCSC#FY2013:hover {
  fill: #353536; 
}
.NWCSC#FY2014 {
  fill: #0053d9;
}
.bar.NWCSC#FY2014:hover {
  fill: #353536; 
}
.NWCSC#FY2015 {
  fill: #0062ff;
}
.bar.NWCSC#FY2015:hover {
  fill: #353536; 
}
.NWCSC#FY2016 {
  fill: #4b80cf;
}
.bar.NWCSC#FY2016:hover {
  fill: #353536; 
}
.NWCSC#FY2017 {
  fill: #91b6ed;
}
.bar.NWCSC#FY2017:hover {
  fill: #353536; 
}

.SWCSC {
  fill: #5b4000;
}

.bar.SWCSC:hover {
  fill: rgb(86, 93, 105);
}

.SWCSC#FY2011 {
  fill: #5b4000;
}
.bar.SWCSC#FY2011:hover {
  fill: #353536; 
}

.SWCSC#FY2012 {
  fill: #845c00;
}
.bar.SWCSC#FY2012:hover {
  fill: #353536; 
}

.SWCSC#FY2013 {
  fill: #b27c00;
}
.bar.SWCSC#FY2013:hover {
  fill: #353536; 
}
.SWCSC#FY2014 {
  fill: #9d7b2d;
}
.bar.SWCSC#FY2014:hover {
  fill: #353536; 
}
.SWCSC#FY2015 {
  fill: #d79806;
}
.bar.SWCSC#FY2015:hover {
  fill: #353536; 
}
.SWCSC#FY2016 {
  fill: #efa700;
}
.bar.SWCSC#FY2016:hover {
  fill: #353536; 
}
.SWCSC#FY2017 {
  fill: #fec339;
}
.bar.SWCSC#FY2017:hover {
  fill: #353536; 
}

/*For legend: */
.legend rect {
  fill: white;
  /* stroke: black; */
  /* opacity: 0.8; */
}

/*Tool-tips / d3-tips styling:*/
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}


/* Creates a small triangle extender for the tooltip */

/* .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
} */


/* Style northward tooltips specifically */

.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}