<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/custom.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script>
    $(document).ready(function(){
        $("#submit").click(function(){
            $("#content").hide();
            $("#loading").show();
        });
    });
    </script>

  </head>
  <body>

    <div id="loading">
      <img src="C:\Users\Taylor\Documents\!USGS\Python\sbProgramGitRepo\TrialWebApp\static\ajax-loader.gif" id="loading">
    </div>
    <div class="container" id="content">


      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <!-- messages -->
      {% for message in get_flashed_messages() %}
        <br>
        {{ message }}
        <br>
      {% endfor %}
    </div>

  </body>
</html>
