<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/custom.css" rel="stylesheet" media="screen">
   

  </head>
  <body>
    <script src="static/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <script src="static/pivot.js"></script>

    </script>
    <script>
      $(document).ready(function () {
        $("#loading").hide();
        $("#submit").click(function () {
          $("#content").hide();
          $("#loading").show();
        });
      });
    </script>

    <div id="loading">
      <img src="https://4.bp.blogspot.com/-QYt9k9dahqQ/WcQBGz6iYVI/AAAAAAAAASI/ppRCm7BIZA4R3WgrC1awv0kRxElu15ojgCK4BGAYYCw/s400/ajax-loader.gif" id="loading">
    </div>
    <div class="container" id="content">


      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <!-- messages -->
      {% for message in get_flashed_messages() %}
        <br>
        {{ message }}
        <br>
      {% endfor %}
    </div>

  </body>
</html>
