{% extends "base.html" %}
{% block content %}

<h1>Welcome to SB MACRO</h1>
<br>
<p>This program can be used to count the data present in one or multiple fiscal years in the NWCSC or SWCSC folders on ScienceBase.</p>
<br>
<h2>Choose the center and fiscal year(s) in which you want the data counted:</h2>
<h3>Northwest CSC</h3>
<form action="count-data" method="post" name="FY-Select">
  <br>
  {% for title, ID in NWCSC_FYs_OrderedDict.items(): %}
      <input type="checkbox" value="{{ID}}" name="checks"> {{title}}<br>
  {% endfor %}
  <br>
  <br>
  <br>
  <h3>Southwest CSC</h3>
  <br>
  {% for title, ID in SWCSC_FYs_OrderedDict.items(): %}
      <input type="checkbox" value="{{ID}}" name="checks"> {{title}}<br>
  {% endfor %}
  <br>
  <label><input type="radio" class="radio radio-inline" value="Excel_for_each_FY" name="Excel-choice" required>Create an Excel File for each Fiscal Year</label>
  <br>
  <label><input type="radio" class="radio radio-inline" value="One_Excel_for_all_FYs" name="Excel-choice" required>Combine all reports into one file</label>
  <br>
  <input type="file" name="datafile" size="40"  multiple>
  <input type="directory" id="ctrl" webkitdirectory directory multiple/>
  <br>
  <input type="submit" value="Submit">
</form>

{% endblock %}
