{% extends "base.html" %}
{% block content %}

<h1>Welcome to SB MACRO</h1>
<br>
<p>This program can be used to count the data present in one or multiple fiscal years in the NWCSC or SWCSC folders on ScienceBase.</p>
<br>
<h2>Choose the center and fiscal year(s) in which you want the data counted:</h2>
<h3>Northwest CSC</h3>
<form action="count-data" method="post" name="FY-Select">
  <br>
  {% for key, value in sorted(NWCSC_FYs_Dict): %}
  <input type="checkbox" value="{{value}}" name="checks"> {{key}}<br>
  {% endfor %}
  <br>
  <input type="submit" value="Submit">
</form>
<form action="" method="post" name="old">
  <br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{5006c1e5e4b0abf7ce733f3b}}">FY 2011</label><br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{5006c2c9e4b0abf7ce733f42}}">FY 2012</label><br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{5238c2d0e4b0c7d45ef072bc}}">FY 2013</label><br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{request.form.NWFY2014 }}">FY 2014</label><br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{request.form.NWFY2015 }}">FY 2015</label><br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{request.form.NWFY2016 }}">FY 2016</label><br>

<br>
<br>
<h3>Southwest CSC</h3>

  <br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{request.form.SWFY2011 }}">FY 2011</label><br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{request.form.SWFY2012 }}">FY 2012</label><br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{request.form.SWFY2013 }}">FY 2013</label><br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{request.form.SWFY2014 }}">FY 2014</label><br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{request.form.SWFY2015 }}">FY 2015</label><br>
  <label><input class="checkbox checkbox-inline" name = "FY-Select" type="checkbox" value="{{request.form.SWFY2016 }}">FY 2016</label><br><br>
  <label><input type="radio" class="radio radio-inline" name="Print-options" required>Create an Excel File for each Fiscal Year</label>
  <br>
  <label><input type="radio" class="radio radio-inline" name="Print-options" required>Combine all reports into one file</label>
  <br>
  <label><input class="btn btn-block btn-primary" type="submit" value="Count Data">Submit</label>
</form>

<h1>Please login</h1>
<br>
<form action="" method="post">
  <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
  <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
  <input class="btn btn-default" type="submit" value="Login">
</form>


{% endblock %}
