{% extends "base.html" %} {% block content %}

<h4>Welcome to sbMACRO</h4>
<br>
<p class="flow-text">This program can be used to generate macro-level reports for the data present under any Climate Adaptation Science Center (CASC) on ScienceBase. Use sbMACRO to understand your data at a higher level.</p>
<p class="flow-text">Choose the desired option in the menu on the left to generate a report. You can generate a report from the project level or for entire fiscal years.</p>


<script>
    // Set navigation bar to highlight current page
    let currentPage = document.getElementById('Nav-Home');
    currentPage.classList.add("currentPage");
</script> {% endblock %}