{% extends "base.html" %} 
{% block content %}


<h4>Welcome to SB MACRO</h4>
<br>
<p>This program can be used to count the data present in one or multiple projects in the NWCSC or SWCSC directories on Science Base.</p>
<p>Type or paste one or more Science Base Project urls (separated by commas) onto the line below and press "Add" to add them to a running list of projects to be analyzed. Double click an item to delete it. When finished, click "Submit".</p>
<p>You may also upload a CSV of cells that each contain a Science Base Project url. </p>
<p>Any incorrect or unrecognized urls will be ignored. </p>
<p>Do you want us to perform a Hard Search for projects we don't recognize? This option should be turned on if you want information of projects created or modified in the last day (we create and cache ScienceBase data every night).</p>
<br>
<div class="row">
    <div></div>
</div>    
<br>
<div class="row">
    <div class="input-field col s6">
        <input placeholder="ScienceBase URL(s)" id="url" type="text" class="validate">
        <label for="url">Item(s) to be Added</label>
        <br>
        <div class="col s2 m2 l2">
            <a class="waves-effect waves-light btn" id="addProj" onclick="gatherProjects()">Add</a>
        </div>
    </div>
    <div class="input-field col s6">
        <form action="#">
            <div class="file-field input-field">
                <div class="btn disabled">
                    <span>File</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" placeholder="Upload a CSV..." type="text" disabled>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="row">
    <form class = "col s12" action="{{ url_for('handle_data') }}" method="post" name="Project-Select" id="Project-Select-Form">
        <div class="col s2 m2 l2">
            <input class="btn waves-effect" type="submit" id="submitProj" value="Submit" onclick="submit">
        </div>
        <div class="col s12 m12 l12">
            <ul>
            </ul>
        </div>
        
    </form>

</div>
<script src="../static/projects.js"></script>
<script>
    let currentPage = document.getElementById('Nav-Project');
    currentPage.classList.add("currentPage");
</script>
{% endblock %}