{% extends "base.html" %} {% block content %}

<h4 style="color:#444242;font-family: arial">Welcome to SB MACRO</h4>
<div class="gradient-line"></div>
<br />
<p class="font_format">
  This program can be used to better understand the data present in one or more
  projects under any CASC on ScienceBase.
</p>
<p class="font_format">
  Type or paste one or more Science Base Project urls (separated by commas) onto
  the line below and press "Add" to add them to a running list of projects to be
  analyzed. Double click an item to delete it. When finished, click "Submit".
</p>
<p class="font_format">
  You may also upload a CSV of cells that each contain a Science Base Project
  url.
</p>
<p class="font_format">Any incorrect or unrecognized urls will be ignored.</p>
<br />
<div class="row">
  <div></div>
</div>
<br />
<div class="row">
  <div class="input-field col s6">
    <input
      placeholder="ScienceBase URL(s)"
      id="url"
      type="text"
      class="validate"
    />
    <p class="error-msg" id="firstNameErr"></p>
    <label for="url">Item(s) to be Added</label>
    <br />
    <div class="col s2 m2 l2">
      <a
        class="waves-effect waves-light btn "
        id="addProj"
        onclick="gatherProjects()"
        >Add</a
      >
    </div>
  </div>
  <div class="input-field col s6" style="margin-top: 0%;">
    <form action="#">
      <div class="file-field input-field">
        <div class="btn disabled">
          <span>File</span>
          <input type="file" />
        </div>
        <div class="file-path-wrapper">
          <input
            class="file-path validate"
            placeholder="Upload a CSV..."
            type="text"
            disabled
          />
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <form
    class="col s12"
    method="POST"
    action="{{ url_for('main.project') }}"
    method="post"
    name="Project-Select"
    id="Project-Select-Form"
  >
    <div class="col s2 m2 l2">
      <input
        class="btn btn-primary"
        type="submit"
        id="submitProj"
        value="Submit"
        onclick="submit" style="margin-top: -85%;margin-left: 60%;"
      />
    </div>
    <div class="col s12 m12 l12">
      <ul class="SbCollection"></ul>
    </div>
  </form>
</div>

  
<script src="{{ url_for('main.static', filename='js/projects.js') }}"></script>
<script>
  let currentPage = document.getElementById('Nav-Project')
  currentPage.classList.add('currentPage')
</script>
{% endblock %}

<!-- Footer Copyright -->
  <div class="projModal-footer">
  <div class="footer-copyright text-center py-3" style= " margin-left: -4%;">© 2020 Copyright:
   <a href="{{ url_for('main.index') }}" class="brand-logo center" style="
    color: #fff;">sbMACRO</a>
  </div>
</div>
  <!-- Copyright -->
