{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="static/css/custom.css">
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/modal.css') }}">
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/pieChart.css') }}">
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/table.css') }}">
<script src="static/js/d3.v4.min.js"></script>
<script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>
<script src="{{ url_for('main.static', filename='js/DataVisualization/FY_BarGraph.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/DataVisualization/fileBreakdownPieChart.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/DataVisualization/projectBarGraph.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/DataVisualization/projectTable.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/DataVisualization/d3-tip.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/reportModal.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/jquery.floatThead.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/graphs.css') }}">

<script>
  var projectArray = {{ projects| tojson | safe }};
  console.log(projectArray)
  buildProjectTable(projectArray);
</script>

<!-- script for downloading table as excel -->
<script type="text/javascript">
  //XLSX
  $(document).ready(function () {
    $("#btnExport").click(function (e) {
      var workbook = XLSX.utils.table_to_book(document.getElementById('reportTable'));
      XLSX.writeFile(workbook, 'sbMacro_Report.xlsx');
    });
  });

  //XLS
  $(document).ready(function () {
    $("#btnExport2").click(function (e) {
      var workbook = XLSX.utils.table_to_book(document.getElementById('reportTable'));
      XLSX.writeFile(workbook, 'sbMacro_Report.xls');
    });
  });
</script>

<div>
  <h1>sbMACRO Query Results</h1>
  <br>
  <p>Below is a table showing your query results from <a href="http://www.sciencebase.gov" >ScienceBase.gov</a></p>
  
</div>
<div id="container">
  <div id="wrapper">
  </div>
  <div id="fyGraphWrapper"></div>
</div>
<div id="container">
  <button class="btn wave-effect waves-teal" id="btnExport" >Export to Excel (.xlsx)</button>
  <button class="btn wave-effect waves-teal" id="btnExport2">Export to Excel (.xls)</button>
  <div id="table_wrapper">
    <table class="bordered highlight striped centered responsive-table" id="reportTable">
      <thead id="table_head">
        <th>Number</th>
        <th>Climate Adaptation Science Center</th>
        <th>Fiscal Year</th>
        <th>Object Type</th>
        <th>Name</th>
        <th>More Info</th>
        <th style="display: none">Link</th>
        <th>Data in Project (GB)</th>
        <th>Number of Files</th>
        <th>Total Data in Fiscal Year (GB)</th>
        <th>sbMACRO Data Retrieval Date</th>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

<!-- The Modal -->
<div id="BaseModal" class="projModal">

  <!-- Modal content -->
  <div class="projModal-content">
    <div class="projModal-header">
      <span class="close">&times;</span>
      <h3>Project Information</h3>
    </div>
    <div class="DMProw">
      <div class="centered_container">
        <span style="font-size: 3vh">DMP Status: </span>
        <div class="DMPstatus DMPstatus_good">Approved</div>
        <div class="DMPstatus DMPstatus_bad">Incomplete</div>
        <div class="DMPstatus DMPstatus_neutral">Unknown / N/A</div>
      </div>
    </div>

    <div class="row">

        <div class="centered_container">
          <span style="font-size: 2vh;">
            <strong>Title: </strong><br>
            <span class="title"></span>
          </span>
        </div>

    </div>
    <div class="row">

        <div class="centered_container">
          <span style="font-size: 2vh;">
            <strong>Principal Investigators: </strong><br>
            <span class="PI"></span>
          </span>
        </div>

    </div>
    <div class="row">

        <div class="centered_container">
          <span style="font-size: 2vh;">
            <strong>Summary: </strong><br>
            <span class="summary" id="only_left_par"></span>
          </span>
        </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l6 projModal_history">
        <h5>Data Steward History</h5>
        <p class="history"></p>
      </div>
      <div class="col s12 m6 l6">
        <h5>Uploaded Data Product Breakdown</h5><br>
        <div id="modal_chart"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l6 projModal_potential_products">
        <h5>Potential Products</h5>
        <p class="potential_products"></p>
      </div>
      <div class="col s12 m6 l6 projModal_products_received">
        <h5>Products Recieved</h5>
        <p class="products_received"></p>
      </div>
    </div>
    <div class="projModal-footer">
      <h3>sbMACRO</h3>
    </div>
  </div>
</div>



<script>  
  projectBarGraph(projectArray); //from /static/js/DataVisualization/projectBarGraph.js
  $("<br><br>").insertAfter("#wrapper");
  FY_BarGraph(projectArray); //from /static/js/DataVisualization/FY_BarGraph.js
  function catchResize() {
    var s = d3.selectAll('svg');
    s.remove();
    d3.select("#projectGraph_svg").remove();
    d3.select("#projectGraph_svg").remove(); //once for each CSC
    d3.select("#FYGraph_svg").remove();
    projectBarGraph(projectArray);
    FY_BarGraph(projectArray);
    for (var i=0; i < projectArray.length; i++) {
      let modal_id = "modal_" + projectArray[i].sb_id + "_div";
      createPieChart(d3, projectArray[i], modal_id);
    }
  }
  // d3.select(window).on('resize', go);
  window.addEventListener('resize', catchResize);
  // var $table = $('table#reportTable');
  // $table.floatThead();
</script>



<!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->


<!-- <script>
  let currentPage = document.getElementById('Nav-FiscalYear');
  currentPage.classList.add("currentPage");
</script> -->
{% endblock %}