<!-- extend base layout -->
{% extends "base.html" %}{% block content %}
<script src="{{ url_for('main.static', filename='js/reportSearchModal.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/DataVisualization/projectSearchTable.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/modal.css') }}" />
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<head>
    <h1>Search results for "{{ query }}":</h1>
    <h4 style="color: green ">Number of DataSets found: {{length}}</h4>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <script src="https://unpkg.com/d3@5.6.0/dist/d3.min.js"></script>
</head>
<script>
    var projectArray = {{ userdata| tojson | safe }};
    // console.log(projectArray)
    buildProjectTable(projectArray);
</script>
<div id="table_wrapper">
    <table class="bordered highlight striped centered responsive-table" id="reportTable">
        <thead id="table_head">
            <th>Number</th>
            <th>Climate Adaptation Science Center</th>
            <th>Fiscal Year</th>
            <th>Name</th>
            <th>More Info</th>
            <th style="display: none">Link</th>
            <th>Validation Check</th>
            <th>Data in Project </th>
            <th>ChildItem</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!-- The Modal -->
<div id="BaseModal" class="projModal">
    <!-- Modal content -->
    <div class="projModal-content">
        <div class="projModal-header">
            <span class="close">&times;</span>
            <h3 style="font-size: 6vh">Project Information</h3>
        </div>

        <div class="row">
            <div class="centered_container">
                <span style="font-size: 2vh;">
                    <strong>Title: </strong><br />
                    <span class="title"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="centered_container">
                <span style="font-size: 2vh;">
                    <strong>Principal Investigators: </strong><br />
                    <span class="PI"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="centered_container">
                <span style="font-size: 2vh;">
                    <strong>Summary: </strong><br />
                    <span class="summary" id="only_left_par"></span>
                </span>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="centered_container">
                <span style="font-size: 2vh;">
                    <strong>Metadata Validation Check: </strong><br />
                    <span class="metadata" id="only_left_par"></span><br />
                    <span class="url" id="only_left_par"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col s12 m12 l12 ">
                    <table>
                        <tr>
                            <strong>Validation Error Report</strong>
                        </tr>
                        <tr>
                            <td class="countError" style="color:teal"></td></br>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class=" col s12 m12 l12 ">
                    <strong> Error Report With Line Numbers</strong>
                     <ul>
                        <li class="error" style="color: red; border: 2px solid red; padding: 5px"> </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col s12 m6 l6 projModal_history">
            <h5>Data Steward History</h5>
            <p class="history"></p>
        </div>
        <div class="row">
            <div class="col s12 m6 l6 projModal_potential_products">
                <h5>Potential Products</h5>
                <p class="potential_products"></p>
            </div>
        </div>
        <div class="projModal-footer">
            <h3>sbMACRO</h3>
        </div>
    </div>
</div>
{% endblock %}