{% extends "base.html" %} {% block content %}

<div>

  <h4>sbMACRO Database Update</h4>

  <br>

  {% if update_search_table %}
    <p>- The master table will be updated
      <i>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp The data will be updated by querying the sciencebase servers,
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp and in order to keep from overwhelming the servers, the query
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp frequency has been throttled. Estimated update duration is 
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp 1 hour 45 minutes.
      </i>
    </p>
  {% endif %}

  {% if update_graphs %}
    <p>- The project comparison graphs will be updated (estimated duration: 7.5 hours)</p>
  {% endif %}

  {% if update_proj_matches %}
    <p>- The project match dictionaries will be updated (estimated duration: 2 minutes)</p>
  {% endif %}

  {% if cascs_to_update %}
    <p>- The following CASC(s) will be updated (estimated duration: {{ cascs_to_update|length * 1.5 }} minutes):</p>
    {% for casc in cascs_to_update %}
      <li>{{ casc }}</li>
    {% endfor %}
  {% endif %}

  <br>
  <p>You may continue with your work<p>

</div>

{% endblock %}
